/**
  * @name zhangyy-g@grandsoft.com.cn 
  * @description zhangyy's code
  * Date: 2014/9/16
  * Time: 20:12
  *
  */
.mod-login{
    position: absolute;
    top: 200px;
    left: 50%;
    margin-left: -200px;
}