extends ../share/layout
block css
    link(rel='stylesheet', href='#{staticFilter("//static.mgcheng.com/static/css/merge/account_message.merge.css")}')
block header
    include ../share/outerheader
block content
    div.mod-message
        div.message-bg
        div.region !{message}
block js
    script(src='#{staticFilter("//static.mgcheng.com/static/js/merge/account_message.merge.js")}')