extends ../share/outerlayout
block css
    link(rel='stylesheet', href='#{staticFilter("//static.iyixiang.cn/static/css/merge/register.merge.css")}')
block content
    div.mod-register
        div.register-bg
        div.region
            form.mod-form(method="post" action="/register")
                if error
                    div.form-error(style="display:block;") !{error}
                else
                    div.form-error !{error}
                input(type="hidden" value="true" name="isValid")
                div.form-item
                    input.input-item(type="text" placeholder ="常用邮箱" name="email" tabindex="1")
                div.form-item
                    input.input-item(type="text" placeholder="用户名" name="nickName" tabindex="2")
                div.form-item
                    input.input-item(type="password" placeholder="设置密码" name="password" tabindex="3")
                div.form-item
                    input.input-item(type="text" placeholder="所在城市" name="city" tabindex="4")
                div.form-item
                    button.register-btn.button.button-rounded.button-flat-primary(type="submit") 注册账号
                div.form-item
                    a.login-btn.f-r(href="/login") 已有账号？立即登录
block js
    script(src='#{staticFilter("//static.iyixiang.cn/static/js/merge/register.merge.js")}')