extends ../share/layout
block css
    link(rel='stylesheet', href='#{staticFilter("//static.jspass.com/static/css/merge/profile_about.merge.css")}')
block header
    div.mod-profile-header-wrap
        include ../share/header
        include ../share/profileHeader
block content
    div.mod-about
        div.mod-about-main
            div.main-block
                div.block-head
                    h2 摄影师
                div.block-content
                    div.intro-portrait
                        img(src="//static.jspass.com/static/css/profile/images/portrait1.jpg")
                    div.intro-info
                        p 【真实与美丽，一样都不能舍弃】——写给喜欢树和树摄影的你们：
                        br
                        p 很高兴与你相遇
                        p 树和树摄影坚持简单、自然、独立、文艺、美好的拍摄风格
                        p 正如你所见到的客片那样，照片里的女生们跟平日的自己相差无几
                        p 女生们带着平时的姿态，在镜头前定格下来
                        p 多年以后翻开照片，看到的不止是年轻时候的美丽，也可以看到当时的真情流露
                        p 真实与美丽，一样都不能舍弃。
                        p 这就是叶树想带给你们的。美丽，自然，真实，情感，故事，温馨，简单。。。
                        p 感谢遇到志同道合的你
                        br
                        p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;——摄影师叶树

            div.main-block
                div.block-head
                    h2 摄影师（只用图片来显示个人信息）
                div.block-content
                    img(src="//static.jspass.com/static/css/profile/images/intro1.jpg")

            div.main-block
                div.block-head
                    h2 用手和心 拍摄和制作
                div.block-content
                    img(src="//static.jspass.com/static/css/profile/images/intro2.png")

            div.main-block
                div.block-head
                    h2 更美更真实的后期
                div.block-content
                    img(src="//static.jspass.com/static/css/profile/images/intro3.png")

            div.main-block
                div.block-head
                    h2 精致的装帧设计
                div.block-content
                    img(src="//static.jspass.com/static/css/profile/images/intro4.png")






block js
    script(src='#{staticFilter("//static.jspass.com/static/js/merge/profile_about.merge.js")}')
