extends ../share/layout
block css
    link(rel='stylesheet', href='#{staticFilter("//static.iyixiang.cn/static/css/merge/profile_index.merge.css")}')
block header
    div.mod-profile-header-wrap
        include ../share/header
        include ../share/profileHeader
block content
    div.mod-profile
        div.photo-group
            div.photo-item.item1
                img.lazy(data-original="//static.iyixiang.cn/static/css/profile/images/1.jpg")
            div.photo-item.item2
                img.lazy(data-original="//static.iyixiang.cn/static/css/profile/images/2.jpg")
            div.photo-item.item3
                img.lazy(data-original="//static.iyixiang.cn/static/css/profile/images/3.jpg")
            div.photo-item.item4
                img.lazy(data-original="//static.iyixiang.cn/static/css/profile/images/4.jpg")

        div.photo-group
            div.photo-item.item1
                img.lazy(data-original="//static.iyixiang.cn/static/css/profile/images/2.jpg")
            div.photo-item.item2
                img.lazy(data-original="//static.iyixiang.cn/static/css/profile/images/1.jpg")
            div.photo-item.item3
                img.lazy(data-original="//static.iyixiang.cn/static/css/profile/images/3.jpg")
            div.photo-item.item4
                img.lazy(data-original="//static.iyixiang.cn/static/css/profile/images/4.jpg")


        div.photo-group
            div.photo-item.item1
                img.lazy(data-original="//static.iyixiang.cn/static/css/profile/images/3.jpg")
            div.photo-item.item2
                img.lazy(data-original="//static.iyixiang.cn/static/css/profile/images/2.jpg")
            div.photo-item.item3
                img.lazy(data-original="//static.iyixiang.cn/static/css/profile/images/1.jpg")
            div.photo-item.item4
                img.lazy(data-original="//static.iyixiang.cn/static/css/profile/images/4.jpg")

        div.photo-group
            div.photo-item.item1
                img.lazy(data-original="//static.iyixiang.cn/static/css/profile/images/4.jpg")
            div.photo-item.item2
                img.lazy(data-original="//static.iyixiang.cn/static/css/profile/images/2.jpg")
            div.photo-item.item3
                img.lazy(data-original="//static.iyixiang.cn/static/css/profile/images/3.jpg")
            div.photo-item.item4
                img.lazy(data-original="//static.iyixiang.cn/static/css/profile/images/1.jpg")

        div.photo-group
            div.photo-item.item1
                img.lazy(data-original="//static.iyixiang.cn/static/css/profile/images/3.jpg")
            div.photo-item.item2
                img.lazy(data-original="//static.iyixiang.cn/static/css/profile/images/2.jpg")
            div.photo-item.item3
                img.lazy(data-original="//static.iyixiang.cn/static/css/profile/images/4.jpg")
            div.photo-item.item4
                img.lazy(data-original="//static.iyixiang.cn/static/css/profile/images/1.jpg")


block js
    script(src='#{staticFilter("//static.iyixiang.cn/static/js/merge/profile_index.merge.js")}')
