extends ../share/layout
block css
    link(rel='stylesheet', href='#{staticFilter("//static.iyixiang.cn/static/css/merge/profile_index.merge.css")}')
block header
    include ../share/profileHeader
block content
    div.mod-profile

block js
    script(src='#{staticFilter("//static.iyixiang.cn/static/js/merge/profile_index.merge.js")}')