extends ../share/layout
block css
    link(rel='stylesheet', href='#{staticFilter("//static.jspass.com/static/css/merge/profile_package.merge.css")}')
block header
    div.mod-profile-header-wrap
        include ../share/header
        include ../share/profileHeader
block content
    div.mod-package
        div.pack-wrap
            div.pack-type-wrap
                div.pack-type.type-focus 生活
                div.middle-line
                div.pack-type 集体
                div.middle-line
                div.pack-type 活动
                div.middle-line
                div.pack-type 亲子
            //div.pack-type-wrap
            //    div.pack-type 婚纱摄影
            //    div.middle-line
            //    div.pack-type 婚礼纪实
            //    div.middle-line
            //    div.pack-type 旅行跟拍
            //    div.middle-line
            //    div.pack-type 商业合作
            div.pack-list
                div.pack-block
                    div.pack-no 01
                    div.pack-head-wrap
                        div.pack-name 高级定制团队个人写真
                        div.pack-photo-num 100张
                        div.pack-time 1天
                    div.pack-price 12,800
                    div.pack-detail
                        p.
                            1 暖暖帮你拍摄，和你一起策划主题；<br/>
                            2. 跟拍一天，约六小时，服装造型自理，拍摄500张+，底片全送，当天选择入书照片。另送拍立得拍摄10张。<br/>
                            3. 共40页，收入照片40张+，可增加页数（30元/页）。<br/>
                            4. 特别收录：<br/>
                               a. CD一辑（1张照片CD + 1张音乐CD+封套设计）<br/>
                               b. 日式小画册一本<br/>
                            5. 随书收录（4选2）：<br/>
                               a. 宝丽来卡一组（5张 + 护封）<br/>
                               b. 书签一组（10张 + 护封）<br/>
                               c. 黑白卡片一组（5张 + 护封）<br/>
                               d. 彩色卡片一组（5张 + 护封）<br/>
                            6. 书尺寸A5 （15x20cm)<br/>
                    div.pack-select-btn 选择
                div.pack-block
                    div.pack-no 02
                    div.pack-head-wrap
                        div.pack-name 资深团队个人/情侣写真
                        div.pack-photo-num 100张
                        div.pack-time 1天
                    div.pack-price 2,680
                    div.pack-detail
                    div.pack-select-btn.btn-focus 选择
                div.pack-block
                    div.pack-head-wrap
                        div.pack-name < 补充说明 >
                    div.pack-detail
                        img(src="//static.jspass.com/static/css/profile/images/package-info.png")
                        p.
                            <br/>
                            * 展示的写真客片均为胶片拍摄，胶片套系出片是电子版照片。不需要先洗成纸质照片。<br/>
                            * 所有照片在拍摄15天后网络发给你。
        div.order-wrap
            section.calendar-main
                div.custom-calendar-wrap
                    div#custom-inner.custom-inner
                        div.custom-header.clearfix
                            nav
                                span#custom-prev.custom-prev
                                span#custom-next.custom-next
                            div.custom-date
                                span#custom-year.custom-year
                                span 年 &nbsp
                                span#custom-month.custom-month

                        div#calendar.fc-calendar-container


                div.schedule-info
            div.booking-button
block js
    script(src='#{staticFilter("//static.jspass.com/static/js/merge/profile_package.merge.js")}')