div.custom-calendar-wrap
    div#custom-inner.custom-inner
        div.custom-header.clearfix
            div.nav
                span#custom-prev.custom-prev
                span#custom-next.custom-next
            div.custom-date
                span#custom-year.custom-year
                span 年 &nbsp
                span#custom-month.custom-month
        div#calendar.fc-calendar-container