/**
  * @name Edwin
  * @description
  * Date: 2014/10/24
  * Time: 0:22
  *
  */

.mod-header-wrap {
    position: relative;
    z-index: 2;
    height: 80px;
    background: #24292C;
    margin:0 0 30px 0;
}
.mod-header-wrap .header-box{
    position: relative;
    width:1100px;
    margin:0 auto;
}
.mod-header-wrap .tail{
    position: absolute;
    bottom: -30px;
    left: 0;
    width: 100%;
    height: 30px;
    background: url(images/bg-tail.png) center 0 no-repeat;
}
.mod-header-wrap .header-logo {
    float: left;
    position: relative;
    width: 310px;
    height: 70px;
    text-indent: -9999px;
    margin: 20px 80px 0 30px;
    overflow: hidden;
    z-index: 10;
    background: url(../../images/logo-l.png) 0 0 no-repeat;
}

.mod-header-wrap .header-search-btn {
    box-sizing: border-box;
    display: inline-block;
    margin: 25px 10px 0 0;
    width: 55px;
    height: 55px;
    background: url(images/search.png) 50% 50% no-repeat;
    background-size: 100% 100%;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -ms-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
}

.mod-header-wrap .header-search-btn:hover{
    background-size: 50% 50%;
    border:2px solid #b0b0b0;
    border-radius: 50%;
}
.mod-header-wrap .header-nav {
    display: inline-block;
    position: relative;
    top:-10px;
    left:10px;
}

.mod-header-wrap .header-nav li {
    float: left;
    font-size: 20px;
    letter-spacing: 6px;
}

.mod-header-wrap .header-nav li a {
    box-sizing: border-box;
    display: inline-block;
    width: 100px;
    text-align: center;
    color: #b0b0b0;
}

.mod-header-wrap .login-btn {
    display: block;    position: absolute;
    right: 15px;
    top: 22px;
    height: 75px;
    width: 75px;
    background: url(images/login.png) no-repeat;
    z-index: 30;
}

.mod-header-wrap .login-btn span {
    display: none;
}

.mod-header-wrap .header-user {
    position: absolute;
    right: 25px;
    top: 20px;
    box-sizing: border-box;
    border-radius: 2px 2px 0 0;
    width: 130px;
    height: 75px;
    cursor: pointer;
    letter-spacing: 2px;
    z-index: 10;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    -ms-transition: .3s;
    transition: .3s;
}

.mod-header-wrap .header-user:hover{
    background-color: #191919;
    box-shadow: 0 1px 3px #000;
    border-bottom: 1px solid #0c0c0c;

}

.mod-header-wrap .header-user img {
    float: right;
    height: 65px;
    width: 65px;
    border-radius: 50%;
    border:2px solid #b0b0b0;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    -ms-transition: .3s;
    transition: .3s;
}

.mod-header-wrap .header-user .user-name {
    display: none;
    position: absolute;
    left: 0;
    max-width: 85px;
    height:70px;
    line-height: 70px;
    margin: 0 0 0 20px;
    font-size: 14px;
    color: #b0b0b0;
    overflow: hidden;
}
.mod-header-wrap .header-user:hover .user-name {
    display: inline-block;
}
.mod-header-wrap .header-user:hover img {
    height: 40px;
    width: 40px;
    margin: 15px;
}


.mod-header-wrap .header-user .menu-down {
    position: absolute;
    top: 75px;
    right: 0;
    width: 130px;
    background: #191919;
    box-shadow: 0 1px 3px #000;
    z-index: 999;
    list-style: none;
    height: 0;
    overflow: hidden;
    border-radius:  0 0 2px 2px;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    -ms-transition: .3s;
    transition: .3s;
}

.mod-header-wrap .header-user:hover .menu-down {
    display: block;
    height:306px;
}

.mod-header-wrap .header-user .menu-down a {
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    display: block;
    color: #b0b0b0;
    text-align: left;
    padding: 0 20px;
    border-top: 1px solid #202020;
    border-bottom: 1px solid #0C0C0C;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    -ms-transition: .3s;
    transition: .3s;
}

.mod-header-wrap .header-user .menu-down a:hover{
    background-color: #384045;
}


.mod-header-gap {
    height: 0px;
}
.mod-footer{
    height: 50px;
    line-height: 50px;
    color: #a6a6a6;
    text-align: center;
}
.baidu{
    display: none;
}