/**
  * @name zhangyy-g@grandsoft.com.cn 
  * @description zhangyy's code
  * Date: 14-7-30
  * Time: 下午2:25
  *
  */

.mod-header-wrap{
    height: 50px;
    padding:0 80px;
}
#m-header{
    position: relative;
    top: 0;
    height: 50px;
    width: 100%;
    z-index: 1000;
    background-color: #222222;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.25);
    box-shadow: 0 1px 3px rgba(0,0,0,0.25);
    font-size: 14px;
    -webkit-font-smoothing: initial;
    -moz-osx-font-smoothing: auto;
    transition: background-color 0.1s ease-out;
    -webkit-transition: background-color 0.1s ease-out;
    -ms-transition: background-color 0.1s ease-out;
    -moz-transition: background-color 0.1s ease-out;
    -o-transition: background-color 0.1s ease-out;
}
#m-header .header-logo{
    float:left;
    height:47px;
    width:100px;
    padding:0 0 3px 0;
    background: url("//static.jspass.com/static/css/common/images/logo-bw.png") no-repeat;
    background-size: contain;
    background-origin: content-box;
}
#m-header .header-search-btn{
    float:left;
    height:50px;
    width:50px;
    padding:0 0 0 10px;
    background: url("//static.jspass.com/static/css/common/images/search-bw.png") no-repeat 50% 50%;
    background-origin: content-box;
}
#m-header .header-search-btn:hover{
    background: url("//static.jspass.com/static/css/common/images/search-bw-hover.png") no-repeat 50% 50%;
    background-origin: content-box;
}
#m-header .header-nav{
    position: relative;
    float: left;
    display: block;
    top: 0;
    font-size: 0;
    transition: top 0.1s ease-out,opacity 0.1s ease-out;
    -webkit-transition: top 0.1s ease-out,opacity 0.1s ease-out;
    -ms-transition: top 0.1s ease-out,opacity 0.1s ease-out;
    -moz-transition: top 0.1s ease-out,opacity 0.1s ease-out;
    -o-transition: top 0.1s ease-out,opacity 0.1s ease-out;
}
#m-header .header-nav li{
    display: inline-block;
    vertical-align: top;
    height: 100%;
    line-height: 50px;
    font-size: 14px;
    -webkit-transition-duration: 0;
    -webkit-transition-timing: ease-out;
    -o-transition-duration: 0;
    -o-transition-timing: ease-out;
    -moz-transition-duration: 0;
    -moz-transition-timing: ease-out;
    -ms-transition-duration: 0;
    -ms-transition-timing: ease-out;
    -webkit-transition-duration: 0;
    transition-duration: 0;
    transition-timing: ease-out;
}

#m-header .header-nav a{
    display: block;
    height: 100%;
    padding: 0 25px;
    color: #bbbbbb;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 3px;
    white-space: nowrap;
    -webkit-transition-duration: 0;
    -webkit-transition-timing: ease-out;
    -o-transition-duration: 0;
    -o-transition-timing: ease-out;
    -moz-transition-duration: 0;
    -moz-transition-timing: ease-out;
    -ms-transition-duration: 0;
    -ms-transition-timing: ease-out;
    -webkit-transition-duration: 0;
    transition-duration: 0;
    transition-timing: ease-out;
}
#m-header .header-nav a:hover,
#m-header .header-nav a.active{
    color: #fff;
    background-color: #333333;
}

#m-header .login-btn {
    position:relative;
    right:0;
    display: block;
    line-height: 50px;
    width:70px;
    color:#ccc;
}
#m-header .login-btn:hover{
    position: relative;
    color:#fff;
}











#m-header .message{
    color: #b5bdc0;
    padding: 0px 25px;
    height: 60px;
    line-height: 60px;
    display: block;
    float: left;
}
#m-header .userinfo{
    float: left;
    position: relative;
}
#m-header .userinfo .avatar{
    display: block;
    padding: 3px;
}
#m-header .userinfo:hover .avatar{
    color: #fff;
    background: #363d40;
}
#m-header  .avatar img{
    width: 40px;
    height: 40px;
    border-radius: 22px;
    border: 2px solid #adb0b1;
    display: block;
}
#m-header .userinfo .header-nav-down{
    position: absolute;
    top: 50px;
    right: 0;
    z-index: 999;
    width: 140px;
    background: #363d40;
    list-style: none;
    display: none;
}
#m-header .userinfo:hover .header-nav-down{
    display: block;
}
#m-header .header-nav-down a{
    border-top: 1px solid #4a5153;
    height: 39px;
    line-height: 39px;
    font-size: 14px;
    display: block;
    color: #fff;
    text-align: left;
    padding: 0 20px;
}
#m-header .header-nav-down a:first-child{
    border-top: 0;
}
#m-header .header-nav-down a:hover{
    color: #fff;
    background-color: #2a2c2e;
}

.mod-header-gap{
    height: 60px;
}