/**
  * @name zhangyy-g@grandsoft.com.cn 
  * @description zhangyy's code
  * Date: 2014/9/16
  * Time: 20:21
  *
  */
.mod-form {
    padding: 20px 16px 0px;
}

.mod-form .form-title {
    color: #fff;
    font-size: 18px;
    margin-bottom: 15px;
}

.mod-form .form-error {
    background: #fffdea;
    border: 1px solid #ffcf85;
    color: #f60;
    padding: 5px;
    width: 308px;
    display: none;
    position: absolute;
    top: -40px;
    left: 0;
    font-size: 14px;
}

.mod-form .form-item {
    margin-bottom: 15px;
}

.mod-form .input-item {
    outline: none;
    border: 1px solid #ccc;
    width: 276px;
    padding: 3px 5px;
    height: 35px;
    border-radius: 5px;
}

.mod-form .button {
    width: 287px;
    height: 40px;
    line-height: 40px;
}

.loading{
    background: url(../../images/loading.gif) no-repeat;
    width: 64px;
    height: 64px;
    display: inline-block;
    position: absolute;
    top: 50%;
    margin-top: -32px;
    left: 50%;
    margin-left: -32px;
}

.arrow_box {
    position: relative;
    background: #88b7d5;
    border: 1px solid #c2e1f5;
}
.arrow_box:after, .arrow_box:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box:after {
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #88b7d5;
    border-width: 5px;
    margin-left: -5px;
}
.arrow_box:before {
    border-color: rgba(194, 225, 245, 0);
    border-bottom-color: #c2e1f5;
    border-width: 6px;
    margin-left: -6px;
}