/**
  * @name Edwin
  * @description 
  * Date: 2014/10/24
  * Time: 0:22
  *
  */

.mod-header-wrap {
    position: relative;
    margin: 20px auto 15px auto;
    width: 1100px;
    height: 50px;
}

.mod-header-wrap .header-logo {
    float: left;
    height: 50px;
    width: 170px;
    margin: 0 0 0 1px;
    padding: 0 5px 0 0;
    border-right: 1px solid #ccc;
    background: url("//static.jspass.com/static/css/common/images/home-logo-2.png") no-repeat;
    background-size: contain;
    -ms-background-position-y: 50%;
    background-position-y: 50%;

}

.mod-header-wrap .header-search-btn {
    float: left;
    margin: 0 10px 0 25px;
    width: 63px;
    height: 46px;
    background: url("//static.jspass.com/static/css/common/images/search-icon.png") no-repeat;
    background-size: 100% 100%;
}

.mod-header-wrap .header-nav {
    float: left;
    vertical-align: bottom;
}

.mod-header-wrap .header-nav li {
    float: left;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 3px;
}

.mod-header-wrap .header-nav li a {
    box-sizing: border-box;
    display: inline-block;
    width: 80px;
    padding: 15px 0 0 0;
    text-align: center;
    color: #777;
}

.mod-header-wrap .login-btn {
    display: block;
    float: right;
    height: 46px;
    width: 100px;
    padding: 1px 10px 0 25px;
    border-left: 1px solid #ccc;
    background: url("//static.jspass.com/static/css/common/images/login.png") no-repeat;
    background-origin: content-box;
}

.mod-header-wrap .login-btn span {
    display: none;
}

.mod-header-wrap .header-user {
    position: absolute;
    right: 0;
    top: 0;
    box-sizing: border-box;
    width: 200px;
    height: 50px;
    padding: 0 0 0 25px;
    cursor: pointer;
    border-left: 1px solid #ccc;
    letter-spacing: 2px;
}

.mod-header-wrap .header-user img {
    float: left;
    height: 44px;
    width: 44px;
    margin: 1px;
    border-radius: 50%;
    border: 2px solid #4CBBFF;
    box-shadow: 0px 0px 2px #4CBBFF;
}

.mod-header-wrap .header-user div {
    margin: 0 0 0 60px;
}

.mod-header-wrap .header-user .user-type {
    margin: 7px 0 0 54px;
    width: 9px;
    height: 9px;
    background-color: #4CBBFF;
    border-radius: 50%;
}

.mod-header-wrap .header-user .user-name {
    margin: 0 0 0 70px;
    font-size: 14px;
    color: #777;
    display: block;
}

.mod-header-wrap .header-user:hover {
    background-color: #4CBBFF;
    border-radius: 10px 10px 0 0;
}

.mod-header-wrap .header-user:hover img {
    height: 32px;
    width: 32px;
    margin: 7px;
}

.mod-header-wrap .header-user:hover .user-name {
    color: #fff;
}

.mod-header-wrap .header-user .menu-down {
    position: absolute;
    top: 50px;
    right: 0;
    width: 200px;
    border-radius: 0 0 10px 10px;
    background: #4CBBFF;
    z-index: 999;
    list-style: none;
    display: none;
}

.mod-header-wrap .header-user:hover .menu-down {
    display: block;
}

.mod-header-wrap .header-user .menu-down a {
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    display: block;
    color: #fff;
    text-align: left;
    padding: 0 5px 0 95px;
}

#m-header #link-order {
    background: url("//static.jspass.com/static/css/common/images/order-hover.png") no-repeat;
    background-position: 26px 0;
}

#m-header #link-order:hover {
    color: #fff;
    background-color: #6ac7fa;
}

#m-header #link-setting {
    background: url("//static.jspass.com/static/css/common/images/setting-hover.png") no-repeat;
    background-position: 26px 0;
}

#m-header #link-setting:hover {
    color: #fff;
    background-color: #6ac7fa;
}

#m-header #link-logout {
    background: url("//static.jspass.com/static/css/common/images/logout-hover.png") no-repeat;
    background-position: 28px 0;
}

#m-header #link-logout:hover {
    color: #fff;
    background-color: #6ac7fa;
    border-radius: 0 0 10px 10px;
}

.mod-header-gap {
    height: 0px;
}