/**
  * @name zhangyy-g@grandsoft.com.cn 
  * @description zhangyy's code
  * Date: 14-7-30
  * Time: 下午2:25
  *
  */
.mod-header-wrap {
    height: 50px;
    padding: 0 80px;
}

#m-header {
    position: relative;
    top: 0;
    height: 50px;
    z-index: 1000;
    background-color: #333;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    font-size: 14px;
    -webkit-font-smoothing: initial;
    -moz-osx-font-smoothing: auto;
    transition: background-color 0.1s ease-out;
    -webkit-transition: background-color 0.1s ease-out;
    -ms-transition: background-color 0.1s ease-out;
    -moz-transition: background-color 0.1s ease-out;
    -o-transition: background-color 0.1s ease-out;
}

#m-header .header-logo {
    float: left;
    height: 47px;
    width: 100px;
    padding: 0 0 3px 0;
    background: url("//static.mgcheng.com/static/css/common/images/logo-bw.png") no-repeat;
    background-size: contain;
    background-origin: content-box;
}

#m-header .header-search-btn {
    float: left;
    height: 50px;
    width: 60px;
    padding: 0 10px;
    background: url("//static.mgcheng.com/static/css/common/images/search-bw.png") no-repeat 50% 50%;
    background-origin: content-box;
}

#m-header .header-search-btn:hover {
    background: url("//static.mgcheng.com/static/css/common/images/search-bw-hover.png") no-repeat 50% 50%;
    background-origin: content-box;
    background-color: #2a2c2e;
}

#m-header .header-nav {
    position: relative;
    float: left;
    display: block;
    top: 0;
    font-size: 0;
    transition: top 0.1s ease-out, opacity 0.1s ease-out;
    -webkit-transition: top 0.1s ease-out, opacity 0.1s ease-out;
    -ms-transition: top 0.1s ease-out, opacity 0.1s ease-out;
    -moz-transition: top 0.1s ease-out, opacity 0.1s ease-out;
    -o-transition: top 0.1s ease-out, opacity 0.1s ease-out;
}

#m-header .header-nav li {
    display: inline-block;
    vertical-align: top;
    height: 100%;
    line-height: 50px;
    font-size: 14px;
    -webkit-transition-duration: 0;
    -webkit-transition-timing: ease-out;
    -o-transition-duration: 0;
    -o-transition-timing: ease-out;
    -moz-transition-duration: 0;
    -moz-transition-timing: ease-out;
    -ms-transition-duration: 0;
    -ms-transition-timing: ease-out;
    -webkit-transition-duration: 0;
    transition-duration: 0;
    transition-timing: ease-out;
}

#m-header .header-nav a {
    display: block;
    height: 100%;
    padding: 0 25px;
    color: #bbbbbb;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 3px;
    white-space: nowrap;
    -webkit-transition-duration: 0;
    -webkit-transition-timing: ease-out;
    -o-transition-duration: 0;
    -o-transition-timing: ease-out;
    -moz-transition-duration: 0;
    -moz-transition-timing: ease-out;
    -ms-transition-duration: 0;
    -ms-transition-timing: ease-out;
    -webkit-transition-duration: 0;
    transition-duration: 0;
    transition-timing: ease-out;
}

#m-header .header-nav a:hover,
#m-header .header-nav a.active {
    color: #fff;
    background-color: #2a2c2e;
}

#m-header .login-btn {
    position: absolute;
    right: 80px;
    display: block;
    line-height: 50px;
    width: 70px;
    color: #ccc;
}

#m-header .login-btn:hover {
    color: #fff;
}

.mod-header-wrap .header-user {
    position: absolute;
    right: 80px;
    top: 0;
    box-sizing: border-box;
    width: 150px;
    height: 50px;
    line-height: 50px;
    cursor: pointer;
}

.mod-header-wrap .header-user:hover {
    background-color: #2a2c2e;
}

.mod-header-wrap .header-user img {
    float: left;
    height: 32px;
    width: 32px;
    margin: 9px 12px;
    border-radius: 50%;
    border: 1px solid #cccccc;
}

.mod-header-wrap .header-user div {
    margin: 0 0 0 60px;
}

.mod-header-wrap .header-user .user-type {
}

.mod-header-wrap .header-user .user-name {
    padding: 0 5px 0 0;
    height: 50px;
    font-size: 14px;
    color: #bbb;
    text-overflow: ellipsis;
    overflow: hidden;
}

.mod-header-wrap .header-user:hover .user-name {
    color: #fff;
}

#m-header .header-user .menu-down {
    position: absolute;
    top: 50px;
    width: 150px;
    background: #363d40;
    list-style: none;
    display: none;
}

#m-header .header-user:hover .menu-down {
    display: block;
}

#m-header .menu-down a {
    border-top: 1px solid #4a5153;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    display: block;
    color: #bbb;
    text-align: left;
    padding: 0 5px 0 60px;
}

#m-header .menu-down a:hover {
    color: #fff;
    background-color: #2a2c2e;
}

#m-header #link-order {
    background: url("//static.mgcheng.com/static/css/common/images/order.png") no-repeat;
    background-position: 4px 0;
}

#m-header #link-order:hover {
    color: #fff;
    background-color: #2a2c2e;
}

#m-header #link-setting {
    background: url("//static.mgcheng.com/static/css/common/images/setting.png") no-repeat;
    background-position: 5px 0;
}

#m-header #link-setting:hover {
    color: #fff;
    background-color: #2a2c2e;
}

#m-header #link-logout {
    background: url("//static.mgcheng.com/static/css/common/images/logout.png") no-repeat;
    background-position: 5px 0;
}

#m-header #link-logout:hover {
    color: #fff;
    background-color: #2a2c2e;
}

.mod-header-gap {
    height: 60px;
}

.mod-footer{
    height: 50px;
    line-height: 50px;
    color: #a6a6a6;
    text-align: center;
}