/**
  * @name Edwin
  * @description 
  * Date: 2014/10/19
  * Time: 2:02
  *
  */

.mod-personal-header{
    width:1000px;
    margin:30px auto 10px auto;

}
.personal-nav{
    width:100%;
    height:40px;
    border-bottom: 1px solid #77B9FD;
}
.personal-nav .nav li{
    display: inline-block;
    width:140px;
    height:100%;
    margin-right:2px;
    margin-bottom:-1px;
    vertical-align: middle;
    font-size:13px;
    line-height:40px;
}
.personal-nav .nav a{
    display: inline-block;
    text-align: center;
    width:100%;
    height: 100%;
    color:#666;
}
.personal-nav .nav a:hover{
    color: #77B9FD;
}
.personal-nav .nav a.active{
    background-color: #fff;
    color: #218EFF;
    border: 1px solid #77B9FD;
    border-bottom-color: transparent;
    cursor: default;
    font-size: 15px;
}