/**
  * @name Edwin
  * @description 
  * Date: 2014/10/26
  * Time: 14:29
  *
  */

/* search-items */
.mod-photo-search{
    position: relative;
    left:0;
    right:0;
    display: block;
    height:95px;
    margin:0 0 20px 0;
    background-color: #eeeff2;
    border-bottom: 1px solid #D2D2D2;
    box-shadow: 0px 0px 5px #cbcbcb;
}
.mod-photo-search .search-items-form{
    width:1100px;
    height:50px;
    margin:0 auto;
    padding:15px 0;
    overflow: hidden;
}

.mod-photo-search .search-items-form .search-item-block{
    display: block;
    float:left;
    margin:0 0 0 42px;
}
.mod-photo-search .search-items-form .search-item-block:first-child{
    margin:0;
}
.mod-photo-search .search-items-form .search-item-desc{
    margin:0 0 7px 15px;
    font-size: 12px;
    color: #888;
}
.mod-photo-search .search-items-form select{
    margin:0 10px 0 0;
    outline: 0;
}
.mod-photo-search .search-items-form button{
    outline: 0;
}
.mod-photo-search .search-items-form input{
    width:75px;
    outline: 0;
}

.mod-photo-search .search-items-form #search-submit-block{
}

.mod-photo-search #search-submit{
    position: relative;
    top:3px;
}