extends ../share/layout
block css
    link(rel='stylesheet', href='#{staticFilter("//static.jspass.com/static/css/merge/personal_setting.merge.css")}')
block header
    div.mod-personal-header-wrap
        include ../share/header
        include ../share/personalHeader
block content
    div.mod-personal

block js
    script(src='#{staticFilter("//static.jspass.com/static/js/merge/personal_setting.merge.js")}')

