extends share/layout
block css
    link(rel='stylesheet', href='#{staticFilter("//static.mgcheng.com/static/css/merge/error.merge.css")}')
block header
    div.mod-header-wrap
        include share/header
block content
    div.mod-error #{message}
