/**
  * @name zhangyy-g@grandsoft.com.cn 
  * @description zhangyy's code
  * Date: 14-9-23
  * Time: 下午9:42
  *
  */
@import url('../common/reset.css');
@import url('../common/module.common.css');
@import url('../common/module.layout.css');
@import url('../module/button.css');
@import url('../module/module.dialog.css');
@import url('../module/module.imageview.css');
@import url('../common/module.profilelayout.css');
@import url('../profile/module.index.css');