/**
  * @name zhangyy-g@grandsoft.com.cn 
  * @description zhangyy's code
  * Date: 2014/9/15
  * Time: 22:07
  *
  */

.mod-error{
    margin-top: 260px;
    font-size: 16px;
    color: #333;
    text-align: center;
}