/**
  * @name Edwin
  * @description 
  * Date: 2014/11/27
  * Time: 15:43
  *
  */
html body{
    background-color: #f5f5f5;
}
.mod-blog{
    width:1000px;
    margin: 40px auto;
    position: relative;
    color: #333;
}
.mod-blog .nav{
    position: absolute;
    top: 0;
    width:140px;
    display: inline-block;
    padding: 10px 15px;
    background-color: #fff;
    box-shadow: 0 2px 3px #cbcbcb;
    letter-spacing: 3px;
}
.mod-blog .nav a{
    height:40px;
    line-height: 40px;
    padding:5px;
    border-top: 1px solid #cbcbcb;
    color: #999;
    font-size: 13px;
    display: block;
}

.mod-blog .nav a:hover{
    font-size: 16px;
}
.mod-blog .nav a.active{
    font-size: 16px;
    color: #333;
}
.mod-blog .nav a:first-child{
    border:none;
}

.mod-blog#nav .content{
    width:750px;
    left:195px;
}
.mod-blog .content{
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    padding: 25px 50px 50px 50px;
    background-color: #fff;
    box-shadow: 0 2px 3px #cbcbcb;
}
.mod-blog .type{
    position: absolute;
    top:20px;
    right:-7px;
    width:115px;
    height:34px;
}
.mod-blog .poster{
    margin: 10px 0;
}
.mod-blog .poster img{
    width:100%;
}
.mod-blog .header-wrap{
    position: relative;
    display: block;
    min-height: 138px;
    margin: 0 0 15px 0;
    border-bottom: 1px solid #e5e5e5;
    overflow: hidden;
}
.mod-blog .header-wrap .avatar{
    position: absolute;
    top: 2px;
    width: 120px;
    height: 120px;
    margin: 0 20px 0 0;
    padding: 0 5px 15px 5px;
    border-bottom: 3px solid #202428;
    z-index: 1;
}

.mod-blog .header-wrap .avatar img{
    width:120px;
    height:120px;
    border-radius: 50% 50%;
}

.mod-blog .header-wrap .title{
    display: inline-block;
    padding: 38px 0 38px 180px;
    font-size: 32px;
    letter-spacing: 5px;
    color:#333;
}
.mod-blog .body{
    box-sizing: border-box;
    text-align: left;
    clear: both;
    width: 100%;
    font-size: 14px;
    color: #333;
    line-height: 24px;
    position: relative;
    font-weight: 100;
    padding: 0 15px;
}


.mod-blog .content#photographer .type{
    background: url(images/tag-p.png);
}
.mod-blog .content#photographer .header-wrap{
    border-bottom: 1px solid #ef4f69;
}
.mod-blog .content#photographer .header-wrap .avatar{
    border-bottom: 3px solid #ef4f69;
}

.mod-blog .content#official .type{
    background: url(images/tag-o.png);
}
.mod-blog .content#official .header-wrap{
    border-bottom: 1px solid #9bb1be;
}
.mod-blog .content#official .header-wrap .avatar{
    border-bottom: 3px solid #64727a;
}