/**
  * @name zhangyy-g@grandsoft.com.cn 
  * @description zhangyy's code
  * Date: 2014/9/15
  * Time: 22:07
  *
  */
html body{
    background-color: #ededef;
}
a {
    text-decoration: none;
}

.mod-home {
    position: relative;
    width: 1100px;
    margin:0 auto;
}
.mod-home div,
.mod-home a{
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    -ms-transition: .3s;
    transition: .3s;
}

/*  Poster */
#actionContainer {
    width: 1100px;
    height: 522px;
    position: relative;
    margin: 70px 0 0 0;
    box-shadow: 1px 1px 5px #cbcbcb;
}

#actionContainer .bigarea {
    width: 130px;
    height: 470px;
    position: absolute;
}

#leftArea {
    left: 0;
}

#rightArea {
    right: 0;
}

#actionContainer #preCircle2 {
    top: 50%;
    margin-top: -25px;
    left: 32px;
    z-index: 10;
    position: absolute;
    display: block;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background: url("./images/normal_right.png") 0px 0px no-repeat;
    opacity: 0;
    filter: alpha(opacity=0);
}

#actionContainer #nextCircle2 {
    top: 50%;
    margin-top: -25px;
    right: 32px;
    z-index: 10;
    position: absolute;
    display: block;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background: url("./images/normal_left.png") 0px 0px no-repeat;
    opacity: 0;
    filter: alpha(opacity=0);
}

#actionContainer ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

#mycarousel {
    overflow: hidden;
    position: relative;
    top: 0px;
    margin: 0px;
    padding: 0px;
    left: 0px;
    width: 66600px;
}

#actionContainer ul li.v2 {
    display: block;
    width: 1100px;
    height: 522px;
    background: #ffffff;
    float: left;
    list-style: none;
}

#actionContainer ul li.v2 a {
    width: 1098px;
    height: 520px;
    display: block;
    border:1px solid #ccc;
}

#actionContainer ul li.v2 a img, #actionContainer ul li.v2 a embed {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding:15px;
}

#actionOpt {
    width: 1100px;
    height: 18px;
    padding: 7px 0px;
    border-bottom: 1px solid #ccc;
    border-bottom: none;
    font-size: 0px;
    text-align: center;
    margin-top: 3px;
}

#actionOpt a.v2 {
    width: 30px;
    height: 4px;
    background: #e8e8e8;
    font-size: 0px;
}

#actionOpt a.checked2 {
    background: #45494d;
}

#actionOpt a {
    display: inline-block;
    width: 11px;
    height: 11px;
    margin: 0px 3px;
}

/* lensman */
.lensman {
    overflow: hidden;
}

.lensman .block-wrap.right {
    margin-right: 2px;
}

.lensman .block-wrap {
    box-sizing: border-box;
    width: 350px;
    height: 475px;
    float: left;
    margin: 0 23px 5px 0;
    background-color: #fff;
    box-shadow: 1px 1px 5px #cbcbcb;
    padding: 20px;
}

.lensman a:link,
.lensman a:visited,
.lensman a:visited {
    text-decoration: none;
    color: #333;
}

.lensman .block-wrap .article-head {
    font-size: 18px;
    font-weight: bold;
    padding: 5px 0 15px 0;
    border-bottom: 1px solid #999999;
}

.lensman .block-wrap .article-illus {
    margin: 10px 0 10px 0;
}

.lensman .block-wrap .article-illus img {
    width: 100%;
}

.lensman .block-wrap .article-content {
    padding: 0 0 5px 0;
    font-size: 16px;
}

/* topic */
.topic {
    width: 1100px;
    height: 475px;
    margin-top: 12px;
    position: relative;
    overflow: hidden;
}

.topic img {
    width: 100%;
    height: 100%;
}

.topic-type1 {
    width: 351px;
    height: 226px;
    position: absolute;
}

.topic-type2 {
    width: 352px;
    height: 475px;
    position: absolute;
    left: 374px;
    top: 0px;
}

#topic1 {
    top: 0px;
    left: 0px;
}

#topic3 {
    top: 0px;
    right: 0px;
}

#topic4 {
    bottom: 0px;
    left: 0px;
}

#topic5 {
    bottom: 0px;
    right: 0px;
}

/* collection */
.collection {
    box-sizing: border-box;
    padding:30px 25px;
    width: 100%;
    background-color: #fff;
    box-shadow: 1px 1px 5px #cbcbcb;
}

.title {
    display: block;
    padding: 10px 0px;
    border-bottom: 1px solid #ccc;
    text-align: center;
    color: #333;
    width: 100%;
    margin: 36px 0px 20px 0px;
    font-size: 38px;
    padding: 30px 0;
    color: #333;
    font-weight: normal;
    letter-spacing: 1px;
    font-family: "Hiragino Sans GB","Microsoft YaHei","微软雅黑",tahoma,arial,simsun,"宋体";
}
.collection .title{
    border:none;
}

.c-list {
    overflow: hidden;
    position: relative;
}

.mod-home .collection .block-wrap{
    width: 310px;
    height: 310px;
    margin: 0 20px 15px 20px;
    display: block;
    float: left;
}

.mod-home .collection .c-block {
    height:100%;
    width:100%;
    overflow: hidden;
    position: relative;
}

.c-img {
    height: 310px;
    width: 310px;
    position: relative;
    background-position: 50% 50%;
    -webkit-backface-visibility: hidden;
    display: inline-block;
    line-height: 0px;
    padding: 0px;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;

}

.c-bar {
    box-sizing: border-box;
    width: 100%;
    height: 66px;
    padding: 0 10px 0 10px;
    position: absolute;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    color: #fff;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
}

.c-bar.bar-bottom {
    background: rgba(0, 0, 0, 0.3);
    left: 0;
    bottom: -80px;
}

.c-bar.bar-top {
    background: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
    left: 0;
    top: -80px;
}

.c-block:hover .c-bar {
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
}

.c-block:hover .bar-bottom {
    bottom: 0;
}

.c-block:hover .bar-top {
    top: 0;
}

.c-name {
    display: inline-block;
    width:200px;
    height:66px;
    line-height: 66px;
    box-sizing: border-box;
    padding:0 0 0 15px;
    text-align: left;
    color: #fff;
    font-size: 15px;

}

.c-bar .c-person {
    position: absolute;
    right: 0;
    top:0;
    box-sizing: border-box;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 35%;
}

.c-person.left {
    float: left;
}

.c-person.right {
    float: right;
}

.person-info {
    margin: 15px 0 20px 0;
    font-size: 14px;
}

.person-info li {
    position: relative;
    display: block;
    line-height: 18px;
}

.c-person.right .person-info li {
    text-align: right;
}

.person-info .person-type {
    font-size: 12px;
    color: #c0c0c0;
}

.c-bar a {
    display: block;
    float: left;
    height: 100%;
    zoom: 1;
    _display: inline;
    line-height: 30px;
    vertical-align: middle;
    font-size: 14px;
}

.c-bar img {
    width: 40px;
    height: 40px;
    display: inline-block;
    vertical-align: middle;
    margin: 13px;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.15);
}

.c-person.left img {
    float: left;
}

.c-person.right img {
    float: right;
}

.c-bar .c-fav-count {
    box-sizing: border-box;
    float: right;
    width: 169px;
    margin-right: 20px;
    background: url(//static.mgcheng.com/static/css/main/images/heart_gray.png) no-repeat right center;
    text-align: right;
    padding: 10px 40px 0 0;
}

/* photographer */
.mod-home .photographer{
    width:1000px;
    margin:0 auto;
}
.mod-home .photographer .block{
    display: inline-block;
    position: relative;
    width:120px;
    height:120px;
    margin:5px;
    border-radius: 50%;
    box-shadow: 1px 1px 5px #cbcbcb;
    overflow: hidden;
}
.mod-home .photographer img{
    width:100%;
    height:100%;
}
.mod-home .photographer .name{
    position: absolute;
    left:0;
    bottom:-120px;
    height:120px;
    line-height: 120px;
    width:120px;
    font-size:18px;
    letter-spacing: 2px;
    color:#fff;
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
}

.mod-home .photographer .block:hover .name{
    bottom:0;
}