div.mod-photo-search.search-items-wrap
   form.search-items-form(method="get" action="")
      input(type="hidden" name="orderType" value="2")
      input(type="hidden" name="pageSize" value="10")
      input(type="hidden" name="pageIndex" value="0")
      div.search-item-block#search-display
         div.search-item-desc 查询内容：
         button.ui-twistbutton.ui-tb-left.ui-tb-active(type="button" data-type="photographer") 摄影师
         button.ui-twistbutton.ui-tb-right(type="button" data-type="service") 服务
         input(type="hidden" name="searchType" value="photographer")
      div.search-item-block
         div.search-item-desc 摄影类型：
         select.ui-select#select-type(name="type")
            option(value='') 摄影类型
            option(value='婚纱摄影') 婚纱摄影
            option(value='艺术写真') 艺术写真
            option(value='个人写真') &nbsp;&nbsp;个人写真
            option(value='情侣写真') &nbsp;&nbsp;情侣写真
            option(value='好友写真') &nbsp;&nbsp;好友写真
            option(value='亲子家庭') &nbsp;&nbsp;亲子家庭
            option(value='活动跟拍') 活动跟拍
            option(value='婚礼纪实') &nbsp;&nbsp;婚礼纪实
            option(value='旅行拍摄') &nbsp;&nbsp;旅行拍摄
            option(value='聚会庆生') &nbsp;&nbsp;聚会庆生
            option(value='毕业留念') &nbsp;&nbsp;毕业留念
            option(value='其他') 其他
            option(value='宠物') &nbsp;&nbsp;宠物
            option(value='产品静物') &nbsp;&nbsp;产品静物
      div.search-item-block
         div.search-item-desc 摄影风格：
         select.ui-select.ui-sl-long#select-style(name="style")
            option(value='') 摄影风格
            option(value='胶片') 胶片
            option(value='温暖时光') 温暖时光
      div.search-item-block
         div.search-item-desc 拍摄地：
         select.ui-select.ui-sl-long#select-location(name="address")
            option(value='') 省份 - 城市
            option(value='北京-北京') 北京-北京
            option(value='上海-上海') 上海-上海
            option(value='湖南-长沙') 湖南-长沙
      div.search-item-block
         div.search-item-desc 价格区间 (元)：
         input.ui-input#input-price-1(name="minPrice")
         span &nbsp~&nbsp
         input.ui-input#input-price-2(name="maxPrice")
      div.search-item-block#search-submit
         div.ui-button-wrap
            button.ui-roundbutton.ui-rb-search.submit-btn(type="submit" value='提交')