/**
  * @name Edwin
  * @description 
  * Date: 2014/9/30
  * Time: 13:53
  *
  */

html body{
    background-color: #f5f5f7;
}

.mod-trade-main{
    position: relative;
    margin: 50px auto 50px;
    width: 1180px;
}
.main-container{
    position:relative;
}
.main-block{
    background-color: #fff;
    margin: 100px 0 0 0;
    padding: 0px 24px 20px 24px;
    box-shadow: 1px 1px 5px #cbcbcb;
    border:0px solid #c0c0c0;
    overflow:hidden;
}

.main-intro{
    position:relative;
    height: 50px;
    width:100%;
    overflow:hidden;
}
.main-stars{
    position:absolute;
    top: 7px;
    left: 120px;

}
.trade-user-portrait{
    position:absolute;
    margin-top: -65px;
    margin-left: 0px;
}
.trade-user-portrait img{
    width:100px;
    height:100px;
    border-radius:50%;
    border:1px solid #ffffff;

}
.trade-user-name{
    font-size: 18px;
    position:absolute;
    top: -33px;
    left: 150px;

}
.trade-info {
    position:absolute;
    top:17px;
    left:324px;
    height:50px;
}
.trade-price{
    float:right;
    height:50px;
    padding:8px 20px 0 15px;
    font-size:18px;
}
.main-comment{
    position:relative;
}
.main-photo-group{
    position:relative;
    height:140px;
    padding-top:15px;
}
.main-photo-group .item{
    float:left;
    width: 140px;
    height: 140px;
    margin: 0 1px 0px 0;
    background-color: #7cdfff;

}
.main-photo-group img{
    width:100%;
}
.item-number{
    color:#ffffff;
    font-size:32px;
    font-weight:lighter;
    font-family: "Helvetica Neue",Helvetica Neue,Helvetica,Arial,sans-serif;
    text-align: center;
    padding:47px 0 0 0;
}
