/**
  * @name Edwin
  * @description 
  * Date: 2014/10/1
  * Time: 23:01
  *
  */

html body {
    background-color: #f5f5f7;
}

.mod-package {
    position: relative;
    margin: 50px auto 50px;
    width: 1180px;
}

.pack-wrap {
    float: left;
    width: 700px;
    padding: 0 50px 0 0;
    border-right: 1px solid #cbcbcb;
}

.order-wrap {
    float: left;
    width: 370px;
    padding: 0 0 0 50px;
}

.pack-type-wrap {
    position: relative;
    display: table;
    height: 60px;
    background-color: #ffffff;
    box-shadow: 1px 1px 5px #cbcbcb;
    margin: 0 0 1px 0;
}

.pack-type {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    height: 65px;
    width: 175px;
    color: #495468;
    font-weight: 300;
    font-size: 20px;
    border-top: 5px solid #ffffff;
    border-bottom: 5px solid #ffffff;
}

.middle-line {
    display: table-cell;
    width: 1px;
    height: 100%;
    background-color: #E0E0E0;
}

.type-focus {
    border-top: 5px solid #ef4f69;
}

.pack-list {
    margin: -20px 0 70px 0;
}

.pack-block {
    position: relative;
    background-color: #ffffff;
    margin: 20px 0 30px 0;
    width: 555px;
    box-shadow: 1px 1px 5px #cbcbcb;
    padding: 20px 73px 30px 73px;
    overflow: hidden;
    border-top: 5px solid #30ACFF;
}

.pack-focus {
    background-color: #0099ff;
    color: #ffffff;
}

.pack-no {
    position: absolute;
    left: 0px;
    top: 0px;
    border: 1px solid #30Acff;
    width: 18px;
    height: 13px;
    line-height: 10px;
    padding: 5px;
    text-align: center;
    color: #fff;/*color: #ef4f69; */
    background-color: #30acff;
    font-size: 13px;
}



.mod-package .pack-block .pack-type {

}

.mod-package .pack-block .pack-name {
    max-width: 400px;
    padding: 0 0 15px 0;
    font-size: 26px;
    overflow: hidden;
}

.mod-package .pack-block .pack-tags {
    padding: 13px 0 0 13px;
}

.mod-package .pack-block .pack-tags .tag {
    float: left;
    padding: 2px 9px 2px 11px;
    margin: 0 10px 0 0;
    color: #333;
    font-size: 11px;
    text-align: center;
    letter-spacing: 2px;
    border: 1px solid #2ba6fd;
    border-radius: 12px;
}

.mod-package .pack-block #pack-main-info {
    position: relative;
    width: 570px;
    padding: 3px 0;
}

.mod-package .pack-block .pack-price {
    position: absolute;
    top: -2px;
    right: 25px;
    background: url('../common/images/RMB.png') no-repeat 2px 12px;
    padding: 0 0 0 20px;
    line-height: 50px;
    font-size: 32px;
}

.mod-package .pack-block .pack-price .pack-price-unit {
    padding: 0 0 0 5px;
    font-size: 14px;
}

.mod-package .pack-block #pack-overview {
    position: relative;
    left:-10px;
    width: 575px;
    overflow: hidden;
}

.mod-package .pack-block .pack-icon {
    display: inline-block;
    float: left;
    height: 41px;
    line-height: 35px;
    padding: 0 0 0 40px;
    margin: 0 0 0 10px;
    color: #333;
    font-size: 14px;
    background-size: 30px;
}

.mod-package .pack-block .pack-icon-words {
    padding: 0 8px 0 40px;
    min-width:37px;
}

.mod-package .pack-block .pack-location {
    background: url('../common/images/p-location-blue.png') no-repeat;
}

.mod-package .pack-block .pack-time {
    background: url('../common/images/p-time-blue.png') no-repeat;
}

.mod-package .pack-block .pack-photo-num {
    background: url('../common/images/p-photo-blue.png') no-repeat;
}

.mod-package .pack-block .pack-ps-yes {
    background: url('../common/images/p-ps-blue.png') no-repeat;
}

.mod-package .pack-block .pack-print-yes {
    background: url('../common/images/p-print-blue.png') no-repeat;
}

.mod-package .pack-block .pack-album-yes {
    background: url('../common/images/p-album-blue.png') no-repeat;
}

.mod-package .pack-block .pack-makeup-yes {
    background: url('../common/images/p-makeup-blue.png') no-repeat;
}

.mod-package .pack-block .pack-costume-yes {
    background: url('../common/images/p-costume-blue.png') no-repeat;
}




.pack-detail {
    position: relative;
    left: -10px;
    width: 100%;
    border-top: 1px solid #333;
    margin: 15px 0 0 0;
    padding: 5px 10px 0 10px;
}

.pack-detail img {
    width: 100%;
}

.pack-select-btn {
    float: right;
    position: relative;
    letter-spacing: 25px;
    width: 120px;
    padding: 5px 5px 5px 25px;
    margin: 10px 10px 0 0;
    text-align: center;
    color: #ffffff;
    font-size: 18px;
}

.btn-focus {
    background-color: #989898;
}

.booking-box {
    position: relative;
    display: table;
    background-color: #ffffff;
    box-shadow: 1px 1px 5px #cbcbcb;
    margin: 50px 0 0px 0;
    width: 100%;
    overflow: hidden;
}

.bk-title-wrap {
    height: 40px;
    color: #495468;
    font-size: 18px;
    border-bottom: 1px solid #cbcbcb;
    padding: 8px 0 0 22px;
}

.bk-info {
    padding: 20px 0 0 5px;
}

.bk-pack > ul {
    padding: 10px;
    font-size: 14px;
}

.mod-package .booking-box .bk-date,
.mod-package .booking-box .bk-pack-name{
    display: inline-block;
    padding: 5px 20px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -ms-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
}

.mod-package .booking-box .date-selected.selected .bk-date,
.mod-package .booking-box .package-selected.selected .bk-pack-name{
    color:#fff;
    background-color: #7db500;
    border-radius: 15px;
}
.bk-tag {
    display: inline-block;
    font-size: 14px;
    padding: 0 10px 0 10px;
}

.bk-note-container {
    display: inline-block;
    width:323px;
    height: 60px;
    border: 1px solid #cbcbcb;
    margin: 5px 0 10px 10px;
}

.bk-note {
    border: 0;
    width: 100%;
    height: 100%;
    font-size: 12px;
    padding: 3px;
}

.bk-btn {
    height: 45px;
    width: 370px;
    margin-top: 10px;
    font-size: 18px;
    letter-spacing: 25px;
    padding: 7px 5px 5px 25px;
}

.bk-btn > span {
    letter-spacing: 20px;
    padding-left: 20px;
}

.reminding-wrap {
    margin: 25px 0 0 0;
    padding: 5px;
    font-size: 12px;
}

/* Calendar Instance */

.order-wrap * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.calendar-main {
    width: 100%;
    margin: 0 auto;
}