extends ../share/layout
block css
    link(rel='stylesheet', href='#{staticFilter("//static.mgcheng.com/static/css/merge/main_blog.merge.css")}')
block header
    include ../share/header
block content
    div.mod-blog#photographer
        div.type
        //- div.poster
        //-     img(src="//static.mgcheng.com/static/css/main/images/bg.jpg")
        div.header-wrap
            a.avatar
                img(src="//static.mgcheng.com/static/css/main/images/c-photographer.jpg")
            div.title 【天暗下来，你就是光】· Wynn温馨
        div.body
            p 多少惴惴不安地给女友拍照的男生是在这样心塞的经历中，第一次听说了Wynn温馨这个名字。微博上巨大的影响力，让这个看起来微胖而呆萌的摄影师的作品，成了好多女生所想要留下青春画面的衡量标准


block footer
    include ../share/footer
block js
    script(src='#{staticFilter("//static.mgcheng.com/static/js/merge/main_blog.merge.js")}')
