extends ../share/layout
block css
    link(rel='stylesheet', href='#{staticFilter("//static.jspass.com/static/css/merge/main_home.merge.css")}')
block header
    include ../share/header
    div.mod-header-gap
block content
    div.mod-home
        div.poster
            div#actionContainer
                div#leftArea.bigarea
                div#rightArea.bigarea
                ul#mycarousel
                    li.v2
                        a(href="" target="_blank")
                            img(src="//static.jspass.com/static/css/main/images/p1.gif" target="_blank")
                    li.v2
                        a(href="" target="_blank")
                            img(src="//static.jspass.com/static/css/main/images/p2.jpg" target="_blank")
                    li.v2
                        a(href="" target="_blank")
                            img(src="//static.jspass.com/static/css/main/images/p3.jpg" target="_blank")
                    li.v2
                        a(href="" target="_blank")
                            embed(src="//static.jspass.com/static/css/main/images/p4.swf" target="_blank")
            div#actionOpt
                a.v2.checked2(href="javascript:;")
                a.v2(href="javascript:;")
                a.v2(href="javascript:;")
                a.v2(href="javascript:;")

        div.topic
            div.topic-type1#topic1
                a(href="" target="_blank")
                    img(src="//static.jspass.com/static/css/main/images/t1.jpg" target="_blank")
            div.topic-type2#topic2
                a(href="" target="_blank")
                    img(src="//static.jspass.com/static/css/main/images/t2.jpg" target="_blank")
            div.topic-type1#topic3
                a(href="" target="_blank")
                    img(src="//static.jspass.com/static/css/main/images/t3.jpg" target="_blank")
            div.topic-type1#topic4
                a(href="" target="_blank")
                    img(src="//static.jspass.com/static/css/main/images/t4.jpg" target="_blank")
            div.topic-type1#topic5
                a(href="" target="_blank")
                    img(src="//static.jspass.com/static/css/main/images/t5.jpg" target="_blank")

        div.collection
            div.title < 每日镁光集 >
            div.c-list
                div.c-block.first
                    a.c-img(style="background-image: url(//static.jspass.com/static/css/main/images/c1-1.jpg);")
                    div.c-bar.bar-top
                        div.c-name 《深 林》
                    div.c-bar.bar-bottom
                        a.c-person.left(href="" target="_blank")
                            img(src="//static.jspass.com/static/css/main/images/c-user.jpg")
                            ul.person-info
                                li.person-type 模特
                                li 梅琳娜
                        a.c-person.right(href="" target="_blank")
                            img(src="//static.jspass.com/static/css/main/images/c-photographer.jpg")
                            ul.person-info
                                li.person-type 摄影
                                li 科特勒
                div.c-block
                    a.c-img(style="background-image: url(//static.jspass.com/static/css/main/images/c1-2.jpg);")
                    div.c-bar.bar-bottom
                        a.c-person.left(href="" target="_blank")
                            img(src="//static.jspass.com/static/css/main/images/c-user.jpg")
                            ul.person-info
                                li.person-type 模特
                                li 梅琳娜
                        a.c-person.right(href="" target="_blank")
                            img(src="//static.jspass.com/static/css/main/images/c-photographer.jpg")
                            ul.person-info
                                li.person-type 摄影
                                li 科特勒
                div.c-block
                    a.c-img(style="background-image: url(//static.jspass.com/static/css/main/images/c1-4.jpg);")
                    div.c-bar.bar-bottom
                        a.c-person.left(href="" target="_blank")
                            img(src="//static.jspass.com/static/css/main/images/c-user.jpg")
                            ul.person-info
                                li.person-type 模特
                                li 梅琳娜
                        a.c-person.right(href="" target="_blank")
                            img(src="//static.jspass.com/static/css/main/images/c-photographer.jpg")
                            ul.person-info
                                li.person-type 摄影
                                li 科特勒

            div.c-list
                div.c-block-a
                    div.c-photo-a.position1-a(style="background-image: url(//static.jspass.com/static/css/main/images/c1-1.jpg);")
                    div.c-photo-a.position2-a(style="background-image: url(//static.jspass.com/static/css/main/images/c1-2.jpg);")
                    div.c-photo-a.position3-a(style="background-image: url(//static.jspass.com/static/css/main/images/c1-3.jpg);")
                    div.c-photo-a.position4-a(style="background-image: url(//static.jspass.com/static/css/main/images/c1-4.jpg);")
                    div.c-photo-a.position5-a(style="background-image: url(//static.jspass.com/static/css/main/images/c1-5.jpg);")
                div.c-block-b
                    div.c-photo-b.position1-b(style="background-image: url(//static.jspass.com/static/css/main/images/c1-1.jpg);")
                    div.c-photo-b.position2-b(style="background-image: url(//static.jspass.com/static/css/main/images/c1-2.jpg);")
                    div.c-photo-b.position3-b(style="background-image: url(//static.jspass.com/static/css/main/images/c1-3.jpg);")
                    div.c-photo-b.position4-b(style="background-image: url(//static.jspass.com/static/css/main/images/c1-4.jpg);")

        div.photographer





block footer
    include ../share/footer
block js
    script(src='#{staticFilter("//static.jspass.com/static/js/merge/main_home.merge.js")}')
