/**
  * @name Edwin
  * @description 
  * Date: 2014/11/12
  * Time: 21:28
  *
  */

.mod-personal-photo{
    position: relative;
    width:1000px;
    margin:20px auto;
    overflow: hidden;
    color: #666;
}

.mod-personal-photo button{
    outline: none;
}
.mod-personal-photo .block-p{
    width:100%;
    overflow: hidden;
    margin:0 0 15px 0 ;
}

.mod-personal-photo .block-g .title,
.mod-personal-photo .block-p .title{
    position: relative;
    left: -2px;
    padding: 0 30px 5px 0;
    margin: 0 0 5px 0;
    border-bottom: 1px solid #ddd;
    text-align: right;
    color: #30ACFF;
    font-size: 12px;
}
.mod-personal-photo .block-p .photo-wrap{
    position: relative;
    display: inline-block;
    width:144px;
    height:144px;
    margin:0 2px 0 3px;
    overflow: hidden;
    cursor: pointer;
}


.mod-personal-photo .block-g .photo-wrap img,
.mod-personal-photo .block-p .photo-wrap img{
    width:100%;
    height:100%;
}


.mod-personal-photo .block-p .bar{
    position: absolute;
    top:-40px;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.2s ease-in-out;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
    height:40px;
    width:100%;
}

.mod-personal-photo .block-p .photo-wrap:hover .bar{
    top:0;
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
}
.mod-personal-photo .block-p .name{
    width:75%;
    height:30px;
    line-height: 30px;
    font-size: 12px;
    color: #eeeff2;
    padding: 0 0 0 15px;
}


.mod-personal-photo .block-p .delete-btn{
    position: absolute;
    top:8px;
    right:5px;
    width:20px;
    height:20px;
    background:url(images/close.png) no-repeat;
}

.mod-personal-photo .block-p .delete-btn:hover{
    background: url(images/close-hover.png) no-repeat;
}

.mod-personal-photo .block-g .item{
    position: relative;
    display: inline-block;
    width:265px;
    height:320px;
    margin:15px 32px;
}

.mod-personal-photo .block-g .photo-wrap{
    width:265px;
    height:265px;
}
.mod-personal-photo .block-g a.name{
    display: block;
    width:170px;
    height:40px;
    line-height: 40px;
    font-size: 14px;
    letter-spacing: 2px;
    color: #666;
    margin:15px 0 0 0;
    padding: 0 0 0 10px;
    overflow: hidden;
}
.mod-personal-photo .block-g .modify-btn{
    position:absolute;
    right: 50px;
    bottom: 11px;
    width:23px;
    height:23px;
    background: url(images/operation-icons.png) no-repeat ;
    cursor: pointer;
}

.mod-personal-photo .block-g .modify-btn:hover{
    background: url(images/operation-icons.png) no-repeat -23px 0;
}

.mod-personal-photo .block-g .delete-btn{
    position:absolute;
    right: 12px;
    bottom: 11px;
    width:23px;
    height:23px;
    background: url(images/operation-icons.png) no-repeat -46px 0;
    cursor: pointer;
}

.mod-personal-photo .block-g .delete-btn:hover{
    background: url(images/operation-icons.png) no-repeat -69px 0;
}

.mod-group-wrap .name{
    width: 400px;
    text-align: left;
    font-weight: bold;
}

.mod-group-wrap textarea{
    display: inline-block;
    width: 650px;
    height: 100px;
    margin: 0 0 5px 0;
    border: 1px solid #ccc;
    overflow: auto;
}