/**
  * @name Edwin
  * @description 
  * Date: 2014/12/14
  * Time: 14:10
  *
  */

.mod-personal-photo-setting{
    width:1000px;
    margin:0 auto;
    overflow: hidden;
}
.mod-personal-photo-setting .top-wrap{
    position: relative;
    height:160px;
    margin:15px 25px 25px 25px;
}

.mod-personal-photo-setting .body-wrap{
    position: relative;
    padding:70px 24px 15px 24px;
    background-color: #dcf1f5;
    border:1px solid #C0DEFD;
    border-radius: 5px;
}
.mod-personal-photo-setting .cover{
    position: relative;
    display: inline-block;
    width:145px;
    height:145px;
    line-height: 175px;
    text-align: center;
    font-size: 18px;
    color:#dddff2;
    letter-spacing: 3px;
    padding:7px;
    background-color: #fff;
    border:1px solid #bbb;
    cursor: pointer;
}
.mod-personal-photo-setting .cover img{
    width:100%;
    height:100%;
}
.mod-personal-photo-setting input.name{
    position: absolute;
    top: -10px;
    left: 195px;
    width:450px;
    height:50px;
    font-size: 30px;
    letter-spacing: 5px;
    padding:5px;
    margin:0 0 15px 0;
    border:none;
}

.mod-personal-photo-setting input.name:focus{
    background-color: #fff;
}
.mod-personal-photo-setting textarea.description{
    position: absolute;
    top: 87px;
    left: 195px;
    width:730px;
    height:55px;
    padding:5px;
    font-size: 12px;
    border:none;
    border-bottom: 3px solid #c7e5eb;
}

.mod-personal-photo-setting textarea.description:focus{
    background-color: #fff;
}
.mod-personal-photo-setting button{
    float: left;
    margin: 0 20px 0 10px;
}
.mod-personal-photo-setting .top-wrap ul{
    position: absolute;
    top: 56px;
    left: 195px;
}
.mod-personal-photo-setting .top-wrap li{
    padding: 0 10px 0 5px;
    display: inline-block;
}
.mod-personal-photo-setting .top-wrap li div{
    font-size: 12px;
    display: inline-block;
}
.mod-personal-photo-setting .top-wrap li .sum-key{
    margin: 0 10px 0 0;
}
.mod-personal-photo-setting .top-wrap .action{
    position: absolute;
    top:5px;
    right:5px;
}
.mod-personal-photo-setting .top-wrap .action a{
    float: left;
    width:35px;
    height:35px;
    margin: 0 10px;
}
.mod-personal-photo-setting .top-wrap .action .back-btn{
    width:120px;
    line-height: 35px;
    border-radius:17px;
    padding:0 15px;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 3px;
    text-align: center;
    color: #9b9b9b;
    background-color: #eeeff2;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -ms-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
}

.mod-personal-photo-setting .top-wrap .action .back-btn:hover{
    background-color: #30acff;
    color: #fff;
}
.mod-personal-photo-setting .top-wrap .action .modify-coll-btn{
    background:url(images/operation-icons-l.png) no-repeat;
}
.mod-personal-photo-setting .top-wrap .action .modify-coll-btn:hover{
    background:url(images/operation-icons-l.png) no-repeat -35px 0px;
}
.mod-personal-photo-setting .top-wrap .action .delete-coll-btn{
    background:url(images/operation-icons-l.png) no-repeat -70px 0px;
}
.mod-personal-photo-setting .top-wrap .action .delete-coll-btn:hover{
    background:url(images/operation-icons-l.png) no-repeat -105px 0px;
}
.mod-personal-photo-setting .photo-wrap{
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    width: 170px;
    height:200px;
    margin: 10px;
    border:2px solid #dcf1f5;
    overflow: hidden;
}

.mod-personal-photo-setting .photo-wrap img{
    width:166px;
    height:166px;
    cursor: pointer;
}
.mod-personal-photo-setting .photo-wrap input{
    position: relative;
    top: -7px;
    width:100%;
    box-sizing: border-box;
    border:none;
    font-size: 12px;
    padding:7px 12px;
    background-color: #f2fdff;
}

.mod-personal-photo-setting .photo-wrap input:focus{
    background-color: #fff;
}

.mod-personal-photo-setting .op-wrap{
    position: absolute;
    top:3px;
    right:3px;
    padding: 23px;
}
.mod-personal-photo-setting .photo-wrap .icon{
    position: absolute;
    top:5px;
    right:5px;
    width:30px;
    height:30px;
    background: url(images/operation-icons-l.png) no-repeat 0 -35px;
    border-radius: 2px;
    display: none;
    cursor: pointer;
}

.mod-personal-photo-setting .photo-wrap:hover .icon{
    display: inherit;
}
.mod-personal-photo-setting .photo-wrap .op-wrap ul{
    position: absolute;
    top:35px;
    right:5px;
    background-color: #fff;
    width:90px;
    display: none;
}

.mod-personal-photo-setting .photo-wrap .op-wrap li:hover{
    background-color: #e4e4e4;
}
.mod-personal-photo-setting .photo-wrap .op-wrap li a{
    color: #666;
    padding: 5px 20px;
    line-height: 30px;
    font-size: 12px;
}

.mod-group-wrap .name{
    width: 400px;
    text-align: left;
    font-weight: bold;
}

.mod-group-wrap textarea{
    display: inline-block;
    width: 650px;
    height: 100px;
    margin: 0 0 5px 0;
    border: 1px solid #ccc;
    overflow: auto;
}

.mod-personal-photo-setting .buttons-wrap{
    position: absolute;
    top:0;
    right:0;
    left:0;
    padding: 12px 0;
    height: 34px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    background-color: #66C2FF;
}
.mod-personal-photo-setting .buttons-wrap ul{
    position: relative;
    top:0;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -ms-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
}
.mod-personal-photo-setting .buttons-wrap li{
    height:50px;
    padding:0 25px;
}
.mod-personal-photo-setting .buttons-wrap .finish-btn{
    position: relative;
    right:-10px;
    float: right;
}
.mod-personal-photo-setting .select-box{
    position: absolute;
    top:0;
    left:0;
    width:35px;
    height:35px;
    border:1px solid #bbb;
    background-color: #fff;
}
.mod-personal-photo-setting .select-box{
    display: none;
}
.mod-personal-photo-setting .select-box .select-arrow{
    width:35px;
    height:35px;
    background: url(images/operation-icons-l.png) no-repeat -35px -35px;
}

.mod-personal-photo-setting .selectall-box{
    float: left;
    width:80px;
    margin:6px 5px 0 0;
    cursor: pointer;
}
.mod-personal-photo-setting .selectall-box .arrow-box{
    width:21px;
    height:21px;
    border:2px solid #fff;
    background-color: #fff;
}

.mod-personal-photo-setting .selectall-box div{
    float: left;
}
.mod-personal-photo-setting .selectall-box .arrow{
    width:21px;
    height:21px;
    background: url(images/operation-icons-l.png) no-repeat -41px -42px;
}
.mod-personal-photo-setting .selectall-box .word{
    font-size: 14px;
    font-weight: bold;
    padding: 0 0 0 10px;
    height:25px;
    line-height: 25px;
    color: #fff;
    letter-spacing: 3px;
}