/**
  * @name Edwin
  * @description 
  * Date: 2014/12/17
  * Time: 9:57
  *
  */


.mod-personal-photoall{
    position: relative;
    width:1000px;
    margin:20px auto;
    overflow: hidden;
    color: #666;
}