/**
  * @name Edwin
  * @description 
  * Date: 2014/11/12
  * Time: 21:28
  *
  */

.mod-personal-photo{
    position: relative;
    width:900px;
    margin:20px auto;
    overflow: hidden;
    color: #666;
}

.mod-personal-photo button{
    outline: none;
}
.mod-personal-photo .header{
}
.mod-personal-photo .header .tag{
    box-sizing: border-box;
    display: inline-block;
    width: 200px;
    height:50px;
    background-color: #f7f8fa;
    border:1px solid #eeeff2;
    color: #999;
    line-height: 50px;
    text-align: center;
    letter-spacing: 3px;
    cursor: pointer;
}


.mod-personal-photo .header .tag:hover{
    background-color: #fff;
}

.mod-personal-photo .header .active{
    position: relative;
    top:2px;
    border-top:3px solid #77B9FD;
    background-color: #fff;
    color: #666;
    cursor: text;
}

.mod-personal-photo .header button{
    width:120px;
    font-size: 13px;
}

.mod-personal-photo .header #uploadphoto-btn{
    position: absolute;
    right: 150px;
    top:5px;
}

.mod-personal-photo .header #newalbum-btn{
    position: absolute;
    right: 10px;
    top:5px;
}

.mod-personal-photo .block-p{
    width:100%;
    overflow: hidden;
    margin:0 0 15px 0 ;
}

.mod-personal-photo .block-g .title,
.mod-personal-photo .block-p .title{
    position: relative;
    left: -2px;
    padding: 0 25px 5px 0;
    margin: 0 0 5px 0;
    border-bottom: 1px solid #bfe7fd;
    text-align: right;
    color: #77B9FD;
    font-size: 12px;
}
.mod-personal-photo .block-p .photo-wrap{
    position: relative;
    display: inline-block;
    width:144px;
    height:144px;
    margin:0 2px 0 3px;
    overflow: hidden;
    cursor: pointer;
}


.mod-personal-photo .block-g .photo-wrap img,
.mod-personal-photo .block-p .photo-wrap img{
    width:100%;
    height:100%;
}


.mod-personal-photo .block-p .bar{
    position: absolute;
    top:-40px;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.2s ease-in-out;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
    height:40px;
    width:100%;
}

.mod-personal-photo .block-p .photo-wrap:hover .bar{
    top:0;
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
}
.mod-personal-photo .block-p .name{
    width:75%;
    height:30px;
    line-height: 30px;
    font-size: 12px;
    color: #eeeff2;
    padding: 0 0 0 15px;
}


.mod-personal-photo .block-p .delete-btn{
    position: absolute;
    top:8px;
    right:5px;
    width:20px;
    height:20px;
    background:url(images/close.png) no-repeat;
}

.mod-personal-photo .block-p .delete-btn:hover{
    background: url(images/close-hover.png) no-repeat;
}

.mod-personal-photo .block-g .item{
    position: relative;
    display: inline-block;
    width:180px;
    height:220px;
    margin:15px 20px;
}

.mod-personal-photo .block-g .photo-wrap{
    width:180px;
    height:180px;
}
.mod-personal-photo .block-g a.name{
    display: block;
    width:100%;
    height:40px;
    line-height: 40px;
    font-size: 14px;
    color: #666;
    margin:10px 0 0 0;
    padding: 0 0 0 15px;
}

/*group view window */
.group-view-wrap li{
    display: block;
    margin:10px 0;
    overflow: hidden;
}
.group-view-wrap .key{
    float: left;
    width:70px;
    height:30px;
    line-height: 30px;
    font-size: 12px;
    padding: 0 0 0 10px
}

.group-view-wrap .name{
    display: inline-block;
    width:350px;
}

.group-view-wrap .detail{
    display: inline-block;
    width:850px;
    height:100px;
    margin: 0 0 5px 0;
    border:1px solid #ccc;
    overflow: auto;
}
.group-view-wrap .photo-wrap{
    position: relative;
    display: inline-block;
}
.group-view-wrap .photo-wrap button{
    width: 106px;
    font-size: 13px;
}
.group-view-wrap .photo-wrap .count{
    position: absolute;
    top:10px;
    right:5px;
}
.group-view-wrap .photo-wrap .box{
    position: relative;
    width:850px;
    height: 215px;
    border:1px solid #ccc;
    margin: 5px 0 0 0;
    overflow: hidden;
}

.group-view-wrap .photo-wrap .box .wrap{
    width:100%;
    height:100%;
    overflow: auto;
    padding: 5px;
}

.group-view-wrap .photo-wrap .box .item{
    position: relative;
    display: inline-block;
    width:99px;
    height: 99px;
    margin:0 1px 1px 0;
}

.group-view-wrap .photo-wrap .box .item img{
    width:100%;
    height:100%;
}

.group-view-wrap .box .item .delete-btn{
    position: absolute;
    top:-30px;
    right:3px;
    width:20px;
    height:20px;
    background:url(images/close-hover.png) no-repeat;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.2s ease-in-out;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    cursor:pointer;
}
.group-view-wrap .box .item:hover .delete-btn{
    top:5px;
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
}
