/**
  * @name Edwin
  * @description 
  * Date: 2014/12/17
  * Time: 9:57
  *
  */


.mod-personal-photoall{
    position: relative;
    width:1000px;
    margin:20px auto;
    overflow: hidden;
    color: #666;
}


.mod-personal-photoall .block-p{
    width:100%;
    overflow: hidden;
    margin:0 0 15px 0 ;
    padding: 0 16px;
}

.mod-personal-photoall .block-p .photo-wrap{
    margin:12px;
}