div#m-header
    div.container.clr
        a.f-l.logo(href='/')
            img(src='//static.jspass.com/static/images/logo.png')
        ul.menu.f-l.clr
            li
                if tab == 'index'
                    a.active(href='/') 首页
                else
                    a(href='/') 首页
            li
                if tab == 'cameraman'
                    a.active(href='/cameraman') 摄影师
                else
                    a(href='/cameraman') 摄影师
            - var user = _user
            if user
                li
                    a(href='/profile') 个人主页
        div.login.f-r.clr
            if !user
                a.login-btn(href='/login') 登录
            else
                a.message(href='/message') 消息
                div.userinfo
                    a.avatar(href='/home')
                        img(src='//static.jspass.com/static/images/avatar.jpg')
                    ul.menu-down
                        li
                            a(href='/home') #{user.name}
                        li
                            a(href='/note') 我的笔记
                        li
                            a(href='/question') 我的问题
                        li
                            a(href='/setting') 我的设置
                        li
                            a(href='/logout') 退出