div.mod-header-wrap#m-header
    a.header-logo(href="/")
    a.search-btn.header-search-btn
    ul.header-nav
        li
            if tab == 'travel'
                a.active#header-travel(href='') 旅拍
            else
                a#header-travel(href='') 旅拍
        li
            if tab == 'wedding'
                a.active#header-wedding(href='') 婚纱
            else
                a#header-wedding(href='') 婚纱
        li
            if tab == 'portrait'
                a.active#header-portrait(href='') 写真
            else
                a#header-portrait(href='') 写真
        li
            if tab == 'couple'
                a.active#header-couple(href='') 情侣
            else
                a#header-couple(href='') 情侣
        li
            if tab == 'activity'
                a.active#header-activity(href='') 活动
            else
                a#header-activity(href='') 活动
        li
            if tab == 'free'
                a.active#header-free(href='') 互免
            else
                a#header-free(href='') 互免
        li
            if tab== 'clothes'
                a.active#header-clothes(href='') 镁装
            else
                a#header-clothes(href='') 镁装

    - var user = _user
    if !user
        a.login-btn(href='/login')
            span 登 录 >
    else
        div.header-user
            a(href="/profile")
                img.avatar-img(src="#{user.avatar['30']}")
            div.user-type
            a.user-name(href="/profile") #{user.nickName}
            ul.menu-down
                li
                    a#link-order(href='/personal/order') 我的订单
                li
                    a#link-setting(href='/personal/setting') 个人设置
                li
                    a#link-logout(href='/logout') 退出
