div#m-header
    div.container.clr
        a.f-l.logo(href='/')
            img(src='//static.jspass.com/static/images/logo.png')
        ul.menu.f-l.clr
            li
                if tab == 'index'
                    a.active(href='/') 首页
                else
                    a(href='/') 首页
            li
                if tab == 'photographer'
                    a.active(href='/photographer') 找摄影
                else
                    a(href='/photographer') 找摄影

            li
                if tab == 'clothing'
                    a.active(href='/clothing') 找服装
                else
                    a(href='/clothing') 找服装

            li
                if tab == 'dresser'
                    a.active(href='/dresser') 找化妆
                else
                    a(href='/dresser') 找化妆

            - var user = _user
            if user
                li
                    a(href='/profile') 个人主页
        div.login.f-r.clr
            if !user
                a.login-btn(href='/login') 登录
                a.login-btn(href='/register') 注册
            else
                div.userinfo
                    a.avatar(href='/profile')
                        img(src='//static.jspass.com/static/images/avatar.jpg')
                    ul.menu-down
                        li
                            a(href='/profile') #{user.nickName}
                        li
                            a(href='/personal/order') 我的订单
                        li
                            a(href='/personal/setting') 个人设置
                        li
                            a(href='/logout') 退出