div.mod-header
    div.header-bg-wrap
        img.header-bg
    div.logo
        h1.f1 LOFTER
        h2.f2
            快速
            span.f3 、
            漂亮
            span.f3 、
            有趣的记录方式