div.mod-personal-header
    div.personal-bg
    div.personal-nav
        ul.nav
            li
                if subTab == 'photo'
                    a.active(href="/personal/photo") 照片管理
                else
                    a(href="/personal/photo") 照片管理
            li
                if subTab == 'order'
                    a.active(href="/personal/order") 我的订单
                else
                    a(href="/personal/order") 我的订单
            li
                if subTab == 'setting'
                    a.active(href="/personal/setting") 个人设置
                else
                    a(href="/personal/setting") 个人设置
            li
                if subTab == 'password'
                    a.active(href="/personal/password") 账号密码
                else
                    a(href="/personal/password") 账号密码


