div.mod-profile-header
    div.profile-bg
    div.user-info.clr
        div.f-l
            img.avatar(src="//static.jspass.com/static/css/profile/images/avatar.jpg")
        div.user-detail.f-l
            div.user-name #{owner.userName}
    div.profile-nav
        ul.nav
            li.avatar-wrap
                img.avatar(src="//static.jspass.com/static/css/profile/images/avatar.jpg")
            li
                a.active(href="/profile/about/#{owner.id}") 关于
            li
                a(href="/profile/#{owner.id}") 影集