extends layout
block css
   link(rel='stylesheet', href='#{staticFilter("//static.jspass.com/static/mobile/css/merge/mobile.merge.css")}')
block content
   div#mobile mobile
block js
   script(src='#{staticFilter("//static.jspass.com/static/mobile/js/merge/mobile.merge.js")}')