doctype html
html
    head
        title 镁光城 | #{title}
        meta(charset='utf-8')
        meta(name='Keywords' content='镁光城，摄影，婚纱，约片，约拍，互勉，写真，艺术照')
        meta(name='Description' content='镁光城，专注于高质量的独立摄影平台，满足大众不同要求的摄影需求，给您一套私人订制的摄影服务，让您意想不到。摄影，有意思！')
        meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
        meta(name="apple-mobile-web-app-capable" content="yes")
        meta(name="apple-mobile-web-app-status-bar-style" content="black")
        link(rel='shortcut icon' type='image/x-icon' href='//static.mgcheng.com/static/images/favicon.ico')
        link(rel='stylesheet', href='//static.mgcheng.com/static/mobile/js/libs/bootstrap/css/bootstrap.min.css')
        block css
    body
        block header
        block content
            div.content
        block footer
        script(src='//static.mgcheng.com/static/mobile/js/libs/libs.min.js')
        -var user = JSON.stringify(_user)
        script.
            window.pageConfig = {
                me: !{user}
            }
        block js