/**
  * @name Edwin
  * @description 
  * Date: 2014/10/30
  * Time: 13:30
  *
  */

.ui-select{
    vertical-align: top;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    -webkit-box-shadow: inset 0px 1px 0px #fff;
    box-shadow: inset 0px 1px 0px #fff;
    -o-border-radius: 3px;
    border-radius: 3px;
    display: inline-block;
    margin: 0;
    padding:0 14px 0 14px;
    width: 110px;
    height: 33px;
    border: 1px solid #d7d7d9;
    background: #edeef0;
    background:url('//static.mgcheng.com/static/css/common/images/select-up-down-arrow.png') no-repeat center right;
    background-origin: content-box;
    color: #444;
    font-size: 12px;
    line-height: 30px;
    cursor: pointer;
    outline: none;
    -webkit-box-align: start;
    -webkit-align-items: stretch;
    -moz-box-align: start;
    box-align: start;
}

.ui-select option{
    height:33px;
    line-height:33px;
    background: #edeef0;
}

.ui-sl-long{
    width: 170px;
}

.ui-input{
    position: relative;
    display: inline-block;
    height: 33px;
    width: 561px;
    padding: 5px 10px;
    background-color: #f9f9f9;
    border: 1px solid rgba(185,193,199,0.5);
    box-sizing: border-box;
    vertical-align: baseline;
    font-size: 14px;
    text-align: right;
    border-radius: 3px;
}
.ui-input:focus{
    background: #fff;
}

.ui-twistbutton{
    -webkit-box-shadow: inset 0px 1px 0px #fff;
    box-shadow: inset 0px 1px 0px #fff;
    display: inline-block;
    margin: 0;
    padding:0 14px 1px 14px;
    width: 90px;
    height: 33px;
    border: 1px solid #d7d7d9;
    background: #eeeff2;
    color: #444;
    font-size: 12px;
    letter-spacing: 2px;
    cursor:pointer;
}
.ui-tb-left{
    border-radius: 20px 0 0 20px;
    border-right:none;
}

.ui-tb-right{
    border-radius: 0 20px 20px 0;
    border-left: none;
}
.ui-tb-active{
    -webkit-box-shadow: inset 0px 2px 2px #54A1CF;
    box-shadow: inset 0px 2px 2px #54A1CF;
    background: #77B9FD;
    color: #fff;
    cursor:inherit;
}

.ui-roundbutton{
    -webkit-box-shadow: inset 0px 2px 0px #fff;
    box-shadow: inset 0px 2px 0px #fff;
    display: inline-block;
    margin: 0;
    padding:0 14px 1px 14px;
    width: 60px;
    height: 60px;
    border: 1px solid #c9c9cb;
    background: #eeeff2;
    color: #444;
    font-size: 12px;
    letter-spacing: 2px;
    cursor:pointer;
    border-radius:50% 50%;
}
.ui-rb-search{
    background: url('//static.mgcheng.com/static/css/common/images/search-blue.png')no-repeat 50% 50%;
}
.ui-button-wrap{
    width: 60px;
    height: 60px;
    border-radius:50% 50%;
    box-shadow: 0 0 2px #51a6ff;
}
.ui-button-wrap:hover{
    background: #77B9FD;
}
.ui-button-wrap:hover .ui-roundbutton{
    -webkit-box-shadow: inset 0px 2px 0px #91CFFC;
    box-shadow: inset 0px 2px 0px #91CFFC;
    border: 1px solid #59AFF7;
}
.ui-button-wrap:hover .ui-rb-search{
    background: url('//static.mgcheng.com/static/css/common/images/search-bw-hover.png')no-repeat 50% 50%;
}

.ui-input-minimal{
    box-sizing: border-box;
    width: 100%;
    padding: 8px 10px;
    font-size: 14px;
    line-height: 15px;
    border-radius: 3px;
    background: #fff;
    border: none;
    border-bottom: 1px solid #ccc;
    color: #222;
}
.ui-select-minimal{
    box-sizing: border-box;
    width: 120px;
    padding: 7px 10px;
    font-size: 14px;
    line-height: 15px;
    border-radius: 3px;
    background: #fff;
    border: none;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    color: #222;
    text-align: center;
    margin-right: 10px;
}
.ui-pg1,
.ui-pg1 img,
.ui-pg1 .ui-bor{
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    -ms-transition: .3s;
    transition: .3s;
}
.ui-pg1{
    position: relative;
    width:90%;
    cursor: pointer;
}
.ui-pg1 img{
    position: absolute;
    top:1px;
    left:2px;
    width: 100%;
    height:100%
}

.ui-pg1:hover img{
    -webkit-transform: rotate(-1deg);
    -moz-transform: rotate(-1deg);
    -o-transform: rotate(-1deg);
    -ms-transform: rotate(-1deg);
    transform: rotate(-1deg);
}

.ui-pg1 .ui-bor{
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid #E0E0E0;
    background: #fff;
    opacity: 1;
    filter: alpha(opacity=100);
}

.ui-pg1 .ui-bor:first-child{
    left: 8px;
    top: 8px;
}

.ui-pg1:hover .ui-bor:first-child{
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    transform: rotate(5deg);
}
.ui-pg1 .ui-bor:nth-child(2){
    left: 6px;
    top: 6px;
}

.ui-pg1:hover .ui-bor:nth-child(2){
    -webkit-transform: rotate(1deg);
    -moz-transform: rotate(1deg);
    -o-transform: rotate(1deg);
    -ms-transform: rotate(1deg);
    transform: rotate(1deg);
}


.ui-pg1 .ui-bor:nth-child(3){
    left: 4px;
    top: 4px;
}

.ui-pg1:hover .ui-bor:nth-child(3){
    -webkit-transform: rotate(-1deg);
    -moz-transform: rotate(-1deg);
    -o-transform: rotate(-1deg);
    -ms-transform: rotate(-1deg);
    transform: rotate(-1deg);
}

.ui-pg1 .ui-bor:nth-child(4){
    left: 2px;
    top: 2px;
}

.ui-pg1:hover .ui-bor:nth-child(4){
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    transform: rotate(-5deg);
}