/**
  * @name Edwin
  * @description 
  * Date: 2014/11/8
  * Time: 10:41
  *
  */
.mod-associate-wrap{
    overflow: hidden;
}

.mod-associate-wrap .photogroup-wrap{
    display: block;
    position: relative;
    width:900px;
    height:480px;
    margin:0 auto;
    overflow-y: auto;
}

.mod-associate-wrap .photogroup-wrap .group-item-box{
    display: inline-block;
    position: relative;
    width:200px;
    height: 230px;
    margin:11px;
    border:1px solid #eeeff2;
    overflow: hidden;
    cursor: pointer;
}

.mod-associate-wrap .photogroup-wrap #active{
    background-color: #d6d7da;
}

.mod-associate-wrap .photogroup-wrap .group-item-box:hover{
    background-color: #eeeff2;
}

.mod-associate-wrap .photogroup-wrap .group-item-box:active{
    border:1px solid #999;
}

.mod-associate-wrap .photogroup-wrap .group-item-box .group-cover{
    width:180px;
    height:180px;
    margin:10px;
}

.mod-associate-wrap .photogroup-wrap .group-item-box .group-cover img{
    width:100%;
    height:100%;
}

.mod-associate-wrap .photogroup-wrap .group-item-box .group-name{
    float: left;
    height:30px;
    padding: 0 10px;
    overflow: hidden;
}

.mod-associate-wrap .photogroup-wrap .group-item-box input{
    position: absolute;
    right: 10px;
    bottom: 10px;
    opacity: 0;
}
.mod-associate-wrap .operation-wrap{
    width:800px;
    height:35px;
    margin: 15px auto 0 auto;
    padding: 15px 0 0 0;
    text-align: center;
    border-top: 1px solid #eeeff2;
}
.mod-associate-wrap .operation-wrap button{
    margin: 0 20px;
}