.mod-smallnote {
    background-color: #eaeaea;
    background: rgba(234, 234, 234, 0.75);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    color: #333333;
    line-height: 15px;
    padding: 5px 14px 4px;
    position: fixed;
    text-align: center;
    top: 0;
    z-index: 2000;
    _position: absolute;
    font-weight: bold;
    height: 18px;
    overflow: hidden;
}
.mod-smallnote.smallnote-error {
    color: #B43830;
}