/**
  * @name zhangyy-g@grandsoft.com.cn 
  * @description zhangyy's code
  * Date: 14/11/7
  * Time: 下午2:47
  *
  */
.page-index-wrap{
    max-width: 580px;
    overflow: hidden;
    margin:0 auto;
}
.page-index-wrap div,
.page-index-wrap a{
    float: left;
    color: #999;
}
.page-index-wrap .page-arrow-left{
    height:60px;
    width:60px;
    background: url(images/page/arrow-left.png) no-repeat;
}
.page-index-wrap .page-arrow-left:hover{
    background: url(images/page/arrow-left-blue.png) no-repeat;
}

.page-index-wrap .page-arrow-right{
    height:60px;
    width:60px;
    background: url(images/page/arrow-right.png) no-repeat;
}
.page-index-wrap .page-arrow-right:hover{
    background: url(images/page/arrow-right-blue.png) no-repeat;
}
.page-index-wrap .page-index{
    height:30px;
    width:30px;
    background-color: #fff;
    margin: 15px 10px;
    box-shadow: 0 2px 3px #cbcbcb;
    line-height: 30px;
    text-align: center;
}

.page-index-wrap .page-index:hover{
    color: #fff;
    background-color: #77B9FD;
}

.page-index-wrap .page-dots{
    height:30px;
    width:30px;
    margin: 15px 10px;
    line-height: 30px;
    text-align: center;
}

.page-index-wrap .current-page-index{
    color: #fff;
    background-color: #77B9FD;
    box-shadow: inset 0px 2px 2px #54A1CF;
}