//
   Created by x on 14-7-30.
extends ../layout
block css
    link(rel='stylesheet', href='//static.jspass.com/static/css/apps/course/list.css')
block content
    ul#message
    form(action='')
        input(id='m' autocomplete='off')
        button send

block js
    script(src='//static.jspass.com/static/js/apps/course/list.js')